gRPCTimeServer/gRPCClient/obj/
gRPCTimeServer/gRPCClient/bin/
gRPCTimeServer/gRPCTimeServerInstaller/obj/
gRPCTimeServer/.vs/
gRPCTimeServer/.idea/
gRPCTimeServer/Protos/obj/
gRPCTimeServer/gRPCTimeService/obj/
gRPCTimeServer/gRPCTimeService/bin/
gRPCTimeServer/gRPCClientInstaller/obj/
gRPCTimeServer/gRPCTimeService.IntegrationTests/bin/
gRPCTimeServer/gRPCTimeService.IntegrationTests/obj/
gRPCTimeServer/gRPCTaskAlcatraz.sln.DotSettings.user
gRPCTimeServer/gRPCClient/gRPCClient.csproj.user
gRPCTimeServer/gRPCClient/Properties/PublishProfiles/Local.pubxml.user
gRPCTimeServer/gRPCTimeService/gRPCTimeService.csproj.user
gRPCTimeServer/gRPCTimeService/Properties/PublishProfiles/Local.pubxml.user
gRPCTimeServer/gRPCTimeService/Migrations/
gRPCTimeServer/gRPCClientInstaller/bin/
gRPCTimeServer/gRPCTimeServerInstaller/bin/
